<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applicode">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CandSClass"></activity>
        <activity android:name=".Definition"></activity>
        <activity android:name=".ServerSide"></activity>
        <activity android:name=".Java"></activity>
        <activity android:name=".JNum1Class"></activity>
        <activity android:name=".Jnum2Class"></activity>
        <activity android:name=".JNum3Class"></activity>
        <activity android:name=".JNum4Class"></activity>
        <activity android:name=".JNum5Class"></activity>
        <activity android:name=".JNum6Class"></activity>
        <activity android:name=".JNum7Class"></activity>
        <activity android:name=".JNum8Class"></activity>
        <activity android:name=".JNum9Class"></activity>
        <activity android:name=".PHP"></activity>
        <activity android:name=".PNum1Class"></activity>
        <activity android:name=".PNum3Class"></activity>
        <activity android:name=".PNum4Class"></activity>
        <activity android:name=".PNum5Class"></activity>
        <activity android:name=".PNum6Class"></activity>
        <activity android:name=".PNum7Class"></activity>
        <activity android:name=".PNum8Class"></activity>
        <activity android:name=".PNum9Class"></activity>
        <activity android:name=".Client"></activity>
        <activity android:name=".DefClient"></activity>
        <activity android:name=".JScript"></activity>
        <activity android:name=".JSNum1Class"></activity>
        <activity android:name=".JSNum2Class"></activity>
        <activity android:name=".JSNum3Class"></activity>
        <activity android:name=".JSNum4Class"></activity>
        <activity android:name=".JSNum5Class"></activity>
        <activity android:name=".JSNum6Class"></activity>
        <activity android:name=".JSNum7Class"></activity>
        <activity android:name=".JSNum8Class"></activity>
        <activity android:name=".html"></activity>
        <activity android:name=".HNum1Class"></activity>
        <activity android:name=".HNum2Class"></activity>
        <activity android:name=".HNum3Class"></activity>
        <activity android:name=".HNum4Class"></activity>
        <activity android:name=".HNum5Class"></activity>
        <activity android:name=".HNum6Class"></activity>
        <activity android:name=".HNum7Class"></activity>
        <activity android:name=".HNum8Class"></activity>
        <activity android:name=".JavaEx"></activity>
        <activity android:name=".PhpEx"></activity>
        <activity android:name=".JavaSEx"></activity>
        <activity android:name=".HtmlEx"></activity>

        <activity android:name=".JavaQuiz1"></activity>
        <activity android:name=".JavaQuiz2"></activity>
        <activity android:name=".JavaQuiz3"></activity>
        <activity android:name=".JavaQuiz4"></activity>
        <activity android:name=".JavaQuiz5"></activity>

        <activity android:name=".DisplayClass"></activity>
        <activity android:name=".DisplayClassJ2"></activity>
        <activity android:name=".DisplayClassJ3"></activity>
        <activity android:name=".DisplayClassJ4"></activity>
        <activity android:name=".DisplayClassJ5"></activity>
        <activity android:name=".ScoreJava"></activity>

        <activity android:name=".PhpQuiz1"></activity>
        <activity android:name=".PhpQuiz2"></activity>
        <activity android:name=".PhpQuiz3"></activity>
        <activity android:name=".PhpQuiz4"></activity>
        <activity android:name=".PhpQuiz5"></activity>

        <activity android:name=".DisplayClassP1"></activity>
        <activity android:name=".DisplayClassP2"></activity>
        <activity android:name=".DisplayClassP3"></activity>
        <activity android:name=".DisplayClassP4"></activity>
        <activity android:name=".DisplayClassP5"></activity>
        <activity android:name=".ScorePhp"></activity>

        <activity android:name=".JsQuiz1"></activity>
        <activity android:name=".JsQuiz2"></activity>
        <activity android:name=".JsQuiz3"></activity>
        <activity android:name=".JsQuiz4"></activity>
        <activity android:name=".JsQuiz5"></activity>

        <activity android:name=".DisplayClassJs1"></activity>
        <activity android:name=".DisplayClassJs2"></activity>
        <activity android:name=".DisplayClassJs3"></activity>
        <activity android:name=".DisplayClassJs4"></activity>
        <activity android:name=".DisplayClassJs5"></activity>
        <activity android:name=".ScoreJs"></activity>


        <activity android:name=".HtmlQuiz1"></activity>
        <activity android:name=".HtmlQuiz2"></activity>
        <activity android:name=".HtmlQuiz3"></activity>
        <activity android:name=".HtmlQuiz4"></activity>
        <activity android:name=".HtmlQuiz5"></activity>

        <activity android:name=".DisplayClassHtml1"></activity>
        <activity android:name=".DisplayClassHtml2"></activity>
        <activity android:name=".DisplayClassHtml3"></activity>
        <activity android:name=".DisplayClassHtml4"></activity>
        <activity android:name=".DisplayClassHtml5"></activity>
        <activity android:name=".ScoreHtml"></activity>







    </application>

</manifest>